.parent{
    height:1000px;
    display: flex;
}

.dimension_fixed{
    height:150px;
    width: 150px;
}
.child1{
    background-color: red;
}

.child2{
    background-color: blue;
}

.child3{
    background-color: black;
}